section{
    background-color: purple;
}
.nav{
    padding: 10px 0 0 0;
    background-color: #fff;
}

.nav-link{
    color: #000;
}

.commander{
    border: 5px solid #fff;
    background-color: lightpink          ;
}
.icon{
    padding: 5px;
    color: gold;
    border: 2px solid gold;
    border-radius: 50px;
}
.img{
    background-color: #fff;
    padding: 10px 40px;
}

.img img{
    height: 120px;
}

.img img:hover{
    transform: skewX(10deg);
}